# NORMALIZATION AND STANDARDIZATION

### Why do we need transformation of features

- where concepts like Euclidean distance is used or concepts where we try to reach global minia we use standardization
- The reason we reduce the scale is so that the global minia reaches quickly
- If the data is not scaled and passed to the ML model then the values with higher magnitude gets higher importance
- Transformation is not required in any algoritm that use decision trees
- Deep Learning techniques (ANN, CNN, RNN) all requires standardization or scaling because all these concepts use gradient descent to reach global minima.
- Since images ranges from 0 to 255 pixel we can bring the image to scale between 0 to 1 by dividing it by 255

### Types of Transformations
- Normalization And Standardization
- Scaling to Minimum And Maximum values
- Scaling To Median And Quantiles
- Guassian Transformation 
- Logarithmic Transformation 
- Reciprocal Trnasformation 
- Square Root Transformation 
- Exponential Trnasformation 
- Box Cox Transformation

### Standardization
- We try to bring all the variables or features to a similar scale. 
- standarisation means centering the variable at zero. 
- z = (x-x_mean) / std

In [2]:
# importing libraries and getting the data
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Users\tejas\Desktop\ineuron\feature engineering\data\titanic.csv", usecols=['Pclass','Age','Fare','Survived'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500